.create-note-container{
    background:linear-gradient(to bottom, #0e1133,rgb(210, 177, 184));
    width:71%;
    font-family: 'Raleway', sans-serif;
   
}

.create-sub-container{
    width:80%;
    margin:80px auto;

}
.create-header{
    color:white;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-top:60px;
    text-align:center;
}

.form{
    display:flex;
    flex-direction:column;
    
}
.title-input{
   
    margin: 40px 0px 40px 0px;
    height:40px;

}
.content-input{
    height:160px;
   
}
input[type=text]{
    background-color:rgb(20, 20, 20);
    color:#746478;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size:16px;
    letter-spacing:4px;
    border-radius:5px;
    border-color: white;
    border-style:solid;
    font-weight:bold;
}
::-webkit-input-placeholder {
    color: #6F6175;
    text-align:center;
    
  }
  ::-moz-placeholder {
    color: #6F6175;
    text-align:center;
    
  }
  :-ms-input-placeholder {
    color: #6F6175;
    text-align:center;
    
  }
  ::placeholder {
    color: #6F6175;
    text-align:center;
    
  }

  .submit-button{
      width:40%;
      margin:40px auto;
      text-align:center;
     
      color: white;
      height: 75px;
      
 }
 .button-text{
    letter-spacing: .5rem;
    font-size:2.4rem;
      width:50%;
      margin: 0 auto;
      padding-top:10px;
      text-align:center;
      font-weight:bolder;
 }
