body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  color: #4A4A4A;
  max-width:1200px;
  
}
.App{
  height:auto;
  width: 1200px;
  margin: 0 auto;
  background:#F3F3F3;

  display:flex;
}
.sidebar-wrapper{
  background:#D8D8D8;
  height: auto;
  width: 20%;
  padding: 20px;
  display:flex;
  flex-direction:column;
  border-right: 1px solid #979797;
}
.headline-wrapper{
  font-size: 2.0rem;
  font-weight: bold;
}
.button{
  background: #2BC1C4;
  color: white;
  margin-top: 100px;
  height:30px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.noteslist-wrapper-with-sidebar{
  display:flex;
}
.minus-sidebar{
  display:flex;
  flex-direction:column;
  padding-left: 15px;
  width: 75%;
  height: auto;
}
.noteslist-wrapper{
  display:flex;
  flex-wrap:wrap;
}
.indiv-note{
  width: 225px;
  height: 250px;
  padding:5px;
  background: #f5f5f5;
  border: 1px solid #979797;
  list-style-type: none;
  margin: 15px;
  overflow-wrap: break-word;
  overflow: hidden;
}
.indiv-note-container{
  width:75%;
  padding: 10px;
  height: 100vh;
}
.main-form-container{
  margin:  0 auto;
  height: auto;
}
.form-wrapper{
  height:auto;
  display:flex;
  flex-direction:column;

}
.input-wrapper{
  display:flex;
  justify-content: space-evenly;
  margin: 15px;
}
.label{
  width: 80px;
}
.login-button{
  width: 100px;
  margin:15px auto;
  cursor: pointer;
}
.register-here{
  margin: 15px auto;
}
.create-note-app-page{
  display:flex;
  width:1200px;
}
.create-note-wrapper{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  width:800px;
}
.new-note-wrapper{
  display:flex;
  margin-top:15px;
}
.input-title{
  width: 300px;
  height: 30px;
}
.input-body{
  width: 700px;
  height: 500px;
  
}
.log-out-button{
  margin-top: 30px;
  margin-right:50px;
  text-align: right;
}
.indiv-note-single{
  display:flex;
  width:100%;
  z-index: 1000;
}
.single-note-nav-bar{
  display:flex;
  justify-content: flex-end;
}
.nav{
  width: 70px;
}

.note-body{
  text-decoration: none;
  color: #4A4A4A;
}
.note-title{
  height:auto;
  font-size:1.2rem;
}
.delete-modal{
  background-color: #FFFFFF;
  border: 1px solid #979797;
  width: 50%;
  height: 200px;
  z-index: 2000; 
}
.modal-buttons{
  display:flex;
  margin: 15px;
}
.edit-view-button{
  margin: 15px;
  color: #FFFFFF;
}
.red{
  background-color: #D0021B;
}
.teal{
  background-color: #2BC1C4;
}
.modal-close{
  display: none;
}
.modal-open{
  z-index: 3000;
}


