* {
    box-sizing: border-box;
}
html, body
{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
a {
  color: inherit;
}
#root {
  height: 100%;
  display: flex;
}
#root > div {
  flex-grow: 1;
}