* {
    box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html, body
{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
a {
  color: inherit;
}

h4 {
  margin-top: 0;
  margin-bottom: 0.9em;
}

#root {
  height: 100%;
  display: flex;
  font-size: 1.6em;
}
#root > div {
  flex-grow: 1;
}