html {
    text-align: center;
}

p {
    font-size: 20px;
}


ul {
    list-style: none;
    display: inline;
    font-size: 20px;
}

ul span {
    font-weight: bold;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
   
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


pre{
    text-align: left;
}
code {
    text-align: left;
}