.color1 {
    background: #e2664d;
}

.color2 {
    background: #7acce0;
}

.color3 {
    background: #caa04a;
}

.color4 {
    background: #f17827;
}

.color5 {
    background: #d78787;
}

.color6 {
    background: #ffb433;
}

.color7 {
    background: #a186b6;
}

.color8 {
    background: #a4bd5b;
}

color9 {
    background: #f9f9f9;
}
