.signup {
  display: flex;
  position: absolute;
  top: 55px;
  left: 20px;
}
.signup .hideTitle .left-rail__title {
  display: none;
}
.signin {
  display: flex;
  position: absolute;
  top: 55px;
  left: 20px;
}
.logout {
  display: flex;
  position: absolute;
  top: 55px;
  left: 20px;
}
