.NoteList {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.NoteList .work {
  background: blue;
}
.NoteList .NoteCard {
  min-width: 30vw;
  min-height: 75px;
  box-shadow: 5px 5px #27566b;
  margin-bottom: 10px;
}
.NoteList .NoteCard:hover {
  background: #467386;
}
.NoteList .NoteCard:hover .card-title {
  color: #aa8a39;
}
.NoteList .NoteCard:hover .card-body a .btn {
  background: #aa4f39;
}
.NoteList .NoteCard .card-body .card-title {
  color: #aa8a39;
}
.NoteList .NoteCard .card-body a .btn {
  background: #27566b;
  color: white;
}
.NoteList .NoteCard .card-body span {
  margin-left: 20px;
}
