{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
		<form action="{{ url_for('add_note') }}" method=post class=add-entry>
			<dl>
				<dt>Title:
				<dd><input type=text size=30 name=title>
				<dt>Text:
				<dd><textarea name=text rows=5 cols=40></textarea>
				<dd><input type=submit value=Share>
			</dl>
		</form>
	{% endif %}
	<ul class=entries>
	{% for note in notes %}
		<li><h2>{{ note.title }}</h2>{{ note.text|safe }}</li>
	{% else %}
		<li><em>No Notes!!!</em></li>
	{% endfor %}
	</ul>
{% endblock %}
