<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polar Notes by Astro</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Deploying to Heroku</h1>
        <p>This will be connected to the front end <a href="https://github.com/astro11">astro11</a></p>
        <a href="https://lambdanotes.netlify.com/" class="btn btn-primary btn-lg">Test Deployment</a>
    </div>
</div>

</body>
</html>