.notes-list-container{
    background:linear-gradient(to bottom, #0e1133,rgb(210, 177, 184));
    width:71%;
    font-family: 'Raleway', sans-serif;
   
}
.notes-sub-container{
    width:80%;
    margin:80px auto;
}