.createNote {
    background: #F3F3F3; 
    margin: 0; 
    min-height: 100%;
    width: 75%; 
}

.createNote h4 {
    color: #4A4A4A; 
    font-family: Raleway Medium; 
    font-weight: bolder; 
    margin: 60px 0 0 25px; 
}

.createNote input {
    border: 1.5px solid #979797; 
    border-radius: 3px;
    margin: 28px 0 0 25px; 
    padding: 10px; 
    width: 55%; 
}

.createNote textarea {
    border: 1.5px solid #979797; 
    border-radius: 3px; 
    margin: 14px 0 0 25px; 
    padding: 10px; 
    resize: none; 
    width: 90%; 
}

.submit {
    background: #2BC1C4; 
    border: 1.5px solid #979797;
    color: #FFFFFF; 
    font-family: Raleway Medium; 
    font-weight: bold; 
    margin: 28px 0 28px 4% !important; 
    padding: 10px; 
    width: 28% !important;  
}