<!doctype html>
<html>
<head>
  <title>Create Note</title>
</head>
<body>
  <h1>Create Note</h1>

  <!-- CREATE NOTE FORM  -->
  <form action="/createNote" method="post">
    <label>Title</label>
    <input type="text" name="title">
    <label>Text</label>
    <input type="text" name="text">
    <button type="submit">Create Note</button>
  </form>

</body>
</html>
