<% if (!user) { %>
	<p>Welcome! All you want to do is create notes? Well in that case you should <a href="/login">log in</a>.</p>
<% } else { %>
	<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
<% } %>
