<!doctype html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
  <h1>Welcome!</h1>

  <hr>

  <p>All you want to do is create notes, you say?<br>Well then it totally makes sense to have an account!</p>
  <p><a href="/login">Login</a> or <a href="/signup">Signup</a></p>
</body>
</html>
