<!doctype html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
  <h1>Welcome!</h1>

  <p>Login or Register with:</p>

  <a href="/login">Login</a>
  <a href="/signup">Signup</a>
</body>
</html>
