<!doctype html>
<html>
<head>
    <title>Log In</title>
</head>
<body>
  <h1>Login</h1>

  <!-- LOGIN FORM -->
  <form action="/login" method="post">
    <label>Email</label>
    <input type="text" name="email">
    <label>Password</label>
    <input type="password" name="password">
    <button type="submit">Login</button>
  </form>

  <hr>

  <p>Need an account? <a href="/signup">Signup</a></p>
  <p>Or go <a href="/">home</a>.</p>

</body>
</html>
