<!doctype html>
<html>
<head>
  <title>Profile</title>
</head>
<body>
  <h1>Welcome back!</h1>

  <!-- LOCAL INFORMATION
  <h3>Local</h3>

  <p>
    <strong>id</strong>: <%= user._id %><br>
    <strong>email</strong>: <%= user.local.email %><br>
    <strong>password</strong>: <%= user.local.password %>
  </p>
  -->

  <h3>Here are your Notes</h3>

  <ul>
    <li>Note 1</li>
    <li>Note 2</li>
    <li>Note 3</li>
  </ul>

<a href="/logout">Logout</a>
</body>
</html>
