<!doctype html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <h1>Signup</h1>

  <!-- SIGNUP FORM  -->
  <form action="/signup" method="post">
    <label>Email</label>
    <input type="text" name="email">
    <label>Password</label>
    <input type="password" name="password">
    <button type="submit">Signup</button>
  </form>

  <hr>

  <p>Already have an account? <a href="/login">Login</a></p>
  <p>Or go <a href="/">home</a>.</p>

</body>
</html>
