.btn2 {
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 20px;
  outline: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
}

.ln1,
.ln2,
.ln3 {
  width: 25px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}
