.note_container {
    display: flex;
    width: 750px;
    
    flex-wrap: wrap;
}

.list_title {
    margin-bottom: 60px;
    text-shadow: 2px 2px palegoldenrod
}

.signin {
    position: sticky;
    padding-top: 100px;
    padding-left: 510px;
    padding-bottom: 50px;
}