.register__container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.register__header {
  font-size: 24px;
  margin-bottom: 35px;
  font-weight: bold;
}

.register__form {
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Raleway';
  font-weight: 300;
  margin-left: 2px;
  margin-top: 5px;
}

.register__username-field {
  max-width: 500px;
  width: 411px;
  height: 30px;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid rgb(153, 153, 153);
  padding: 9px 0px 11px 15px;
  box-shadow: inset 1px 1px 1px rgb(153, 153, 153);
  margin-bottom: 15px;
}

.register__username-field:focus {
  outline: 0;
}

.register__password-field {
  max-width: 500px;
  width: 411px;
  height: 30px;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid rgb(153, 153, 153);
  padding: 9px 0px 11px 15px;
  box-shadow: inset 1px 1px 1px rgb(153, 153, 153);
  margin-bottom: 15px;
}

.register__password-field:focus {
  outline: 0;
}

.register__buttons {
  display: flex;
  justify-content: space-between;
  width: 425px;
  margin-top: 20px;
}

.register__button {
  padding: 13px;
  text-align: center;
  background: rgb(42, 192, 196);
  border: 1px solid rgb(151, 151, 151);
  width: 175px;
  color: white;
  font-size: 20px;
}