.App {
  display: flex;
}

.NavBar {
  background-color: #d8d8d8;
  padding: 0 10px 0 10px;
  border: 1px;
  border-color: #979797;
  border-style: solid;
}

.navbar-button {
  align-items: center;
  padding: 0 20px 10px 0;
}

.Right {
  background-color: #f3f3f3;
  border: 1px;
  border-style: solid;
  border-color: #979797;
  padding: 60px 30px 100px 30px;
  width: 700px;
  height: 1000px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 25px 0;
  color: #4a4a4a; 
}

.notes {
  display: grid;
  grid-template-columns: auto auto auto;

}

.note {
  width: 175px;
  height: 175px;
  border: 1px;
  border-color: #979797;
  border-style: solid;
  padding: 10px 15px 10px 15px;
  margin: 10px 10px 10px 10px;
  background-color: #fff;
  font-size: 14.5px;
}

.note-title {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #979797;
  padding: 0 0 7px 0;
  margin: 0 0 7px 0;
  font-size: 17px;
  font-weight: bold;
  color: #000;
}

.note-top {
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
  color: #4a4a4a;
}

.note-edit {
  padding: 0 10px 0 0;
}

.note-content {
  color: #4a4a4a;
}

.input-title {
  border: 1px;
  border-style: solid;
  border-color: #979797;
  border-radius: 4px;
  width: 365px;
  height: 40px;
  padding: 0 0 0 15px;
  margin: 0 0 15px 0;
}

.input-content {
  border: 1px;
  border-style: solid;
  border-color: #979797;
  width: 600px;
  height: 325px;
  padding: 20px 20px 20px 20px;
  margin: 0 0 10px 0;
}

a, a:link, a:visited, a:hover, a:active {
  color: #4a4a4a;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: 1px;
  border-style: solid;
  border-color: #979797;
  background-color: #61bdc2;
  width: 200px;
  height: 40px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}

.button {
  border: 1px;
  border-style: solid;
  border-color: #979797;
  background-color: #61bdc2;
  width: 200px;
  height: 40px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}

.modal {
  position: absolute;
  max-width: 1098px;
  min-width: 1098px;
  height: 100%;
  background: rgba(204, 204, 204, 0.7);
  }
  
.modal-box {
  width: 615px;
  height: 180px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -330px;
  background: white;
  border: 1.5px solid #666;
}

.modal-prompt {
  font-size: 19px;
  margin-top: 35px;
  color: #4a4a4a;
}

.modal-button {
  margin: 38px 0px 0px 12px;
  display: inline;
  justify-content: space-around;
}

.modal-cancel {
  border: 1px solid #999999;
  width: 237px;
  height: 52px;
  margin: 0px 13px;
  font-size: 19px;
  font-weight: bold;
  color: white;
}

.modal-delete {
  background: #D0011B;
  border: 1px solid #999999;
  width: 237px;
  height: 52px;
  margin: 0px 13px;
  font-size: 19px;
  font-weight: bold;
  color: white;
}