.nav-container{
    width: 29%;
    background-color:black;
    font-family: 'Raleway', sans-serif;
    
    
}
  
  .nav-header{
    color:white;
    margin:20px;
    font-size:4rem;
    letter-spacing: 1.1rem;
    margin-bottom:40px;
    text-align:center;
  }
  .nav-button-text{
    letter-spacing: 0.6rem;
    font-size:2.8rem;
    font-weight:bold;
      width:50%;
      margin: 0 auto;
      padding-top:10px;
      text-align:center;
      cursor:pointer;
      text-decoration:none;
   
  }
  .first{
      padding-top:20px;
  }
  .nav-link{
    text-decoration:none;
    font-weight:bold;
    text-align:center;
    color: white;
    height: 75px;
   
    width:75%;
    display:flex;
    margin:20px auto;
  }
