.nav-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-title {
  order: 1;
  flex-direction: column;
  align-items: center;
}

.form {
  order: 2;
  flex-direction: row;
  height: 20px;
}

.sign {
  width: 80px;
}

h2 {
  display: flex;
  flex-direction: column;
}

