textarea {
	width: 100%;
  resize: none;
	border: 3px solid #cccccc;
  font-weight: bold;
	font-family: Tahoma, sans-serif;
}
.title {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.date {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}