.form {
  width: 400px;
}
.Add-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

textarea {
	width: 100%;
  resize: none;
	border: 3px solid #cccccc;
  font-weight: bold;
	font-family: Tahoma, sans-serif;
}
.title {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.date {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.Submit-button {
  width: 25%;
  text-align: center;
  font-weight: bold;
}

.Save {
  position: absolute;
}