.container {
  background: slateblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1000px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 20px 0;
  height: 20%;
  width: 50%;
  list-style-type: none;
  border: 2px solid black;
  background: slategray;
}

li {
  justify-content: center;
  align-content: center;
  align-self: center;
}

a {
  color: black;
  font-weight: bold;
}

.route-links li a:hover {
  color: blue;
}