.page-container{
    background: #f3f3f3;
    width: 100%;
}

.page-title{
    padding: 5% 0 0 3%;
    font-size: 250%;
    font-weight: 900;
    color: #5F5B58;
    margin-bottom: 30px;
}

.page-text{
    padding: 1% 0 0 3.5%;
    font-size: 140%;
    font-weight: 400;
    color: #5F5B58;
    margin-bottom: 20px;

}
