.note-container{
    color:white;
    background: rgb(31, 31, 31);
    border:2px solid white;
    border-radius:5px;
    padding-bottom: 20px;
    margin:20px;
}
.note-sub-container{
    width:80%;
    text-align:center;
    margin:0 auto;

}
.note-header{
    font-size:24px;
    letter-spacing: 6px;
    text-transform: uppercase;
    cursor:pointer;
    text-decoration:underline;
    text-decoration-color: #4A415C;
    color:white;

}
.note-content{
    font-size:18px;
    letter-spacing: 3px;
}