/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  min-width: 400px;
  font-size: 62.5%;
  background-color: #ffffb1;
}
body input {
  background: #ffffe4;
}
body p {
  font-size: 1.2rem;
}
.Login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Login .LoginSignUpButton {
  width: 80%;
  height: 20px;
  border: solid 1px black;
  color: black;
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-top: 14px;
  margin-bottom: 35vh;
  font-size: 0.7rem;
}
.Login .LoginSignUpButton:hover {
  background: black;
  color: white;
  cursor: pointer;
}
.Login .LoginSignUpButton:active {
  background: #228b22;
  color: white;
}
.Login .LoginSignUpButton:hover {
  cursor: pointer;
}
.Login .LoginTitle {
  margin-bottom: 7px;
  font-size: 5rem;
}
.Login .LoginNotLoggedIn {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Login .LoginNotLoggedIn .LoginDescription {
  margin-bottom: 24px;
  font-size: 1.2rem;
}
.Login .LoginNotLoggedIn .LoginLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Login .LoginNotLoggedIn .LoginLogin .InputFields {
  display: flex;
  flex-direction: column;
}
.Login .LoginNotLoggedIn .LoginLogin .InputFields input {
  text-align: center;
  margin: 2px 0;
}
.Login .LoginNotLoggedIn .LoginLogin .LoginLoginButton__button {
  width: 80%;
  height: 20px;
  border: solid 1px black;
  color: black;
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  margin-top: 7px;
}
.Login .LoginNotLoggedIn .LoginLogin .LoginLoginButton__button:hover {
  background: black;
  color: white;
  cursor: pointer;
}
.Login .LoginNotLoggedIn .LoginLogin .LoginLoginButton__button:active {
  background: #228b22;
  color: white;
}
.Login .LoginToApp {
  width: 80%;
  height: 80px;
  border: solid 1px black;
  color: black;
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.Login .LoginToApp:hover {
  background: black;
  color: white;
  cursor: pointer;
}
.Login .LoginToApp:active {
  background: #228b22;
  color: white;
}
.Login .LoginToApp p {
  font-size: 2.6rem;
}
.Signup {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Signup .Signup__title {
  margin: 7px 0;
  font-size: 5rem;
}
.Signup .Signup__form {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Signup .Signup__form .SignupDescription {
  margin-bottom: 24px;
  font-size: 1.2rem;
}
.Signup .Signup__form .SignupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Signup .Signup__form .SignupForm .InputFields {
  display: flex;
  flex-direction: column;
  margin: 2px 0;
  text-align: center;
}
.Signup .Signup__form .SignupForm .SignupForm__button {
  width: 80%;
  height: 20px;
  border: solid 1px black;
  color: black;
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  margin-top: 7px;
}
.Signup .Signup__form .SignupForm .SignupForm__button:hover {
  background: black;
  color: white;
  cursor: pointer;
}
.Signup .Signup__form .SignupForm .SignupForm__button:active {
  background: #228b22;
  color: white;
}
.Signup .Signup__form .SignupForm .SignupForm__button:hover {
  cursor: pointer;
}
.Signup .Signup__form .SignupForm .SignupForm__NavLink {
  width: 80%;
  height: 20px;
  border: solid 1px black;
  color: black;
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  margin-top: 7px;
  background: white;
}
.Signup .Signup__form .SignupForm .SignupForm__NavLink:hover {
  background: black;
  color: white;
  cursor: pointer;
}
.Signup .Signup__form .SignupForm .SignupForm__NavLink:active {
  background: #228b22;
  color: white;
}
.Signup .Signup__form .SignupForm .SignupForm__NavLink:hover {
  cursor: pointer;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.App .AppNotLoggedIn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.Header {
  margin: 12px 0 0 0;
  font-size: 5rem;
  text-decoration: none;
  color: black;
}
.Header:hover {
  color: blue;
}
.Line {
  width: 100%;
  border: solid 0.5px black;
}
.StatusBar {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.StatusBar .StatusBar__addNoteButton {
  width: 80%;
  height: 20px;
  color: black;
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  border: solid 1px black;
  margin: 7px 30px 0 0;
  font-size: 1.2rem;
}
.StatusBar .StatusBar__addNoteButton:hover {
  background: black;
  color: white;
  cursor: pointer;
}
.StatusBar .StatusBar__addNoteButton:active {
  background: #228b22;
  color: white;
}
.StatusBar .StatusBar__addNoteButton:hover {
  cursor: pointer;
}
.StatusBar .StatusBar__user {
  font-size: 1.35rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.StatusBar .StatusBar__signOutButton {
  width: 80%;
  height: 20px;
  border: solid 1px black;
  color: black;
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin: 7px 0 0 0;
  font-size: 0.7rem;
}
.StatusBar .StatusBar__signOutButton:hover {
  background: black;
  color: white;
  cursor: pointer;
}
.StatusBar .StatusBar__signOutButton:active {
  background: #228b22;
  color: white;
}
.StatusBar .StatusBar__signOutButton:hover {
  cursor: pointer;
}
.SearchBar {
  width: 75%;
}
.SearchBar input {
  width: 100%;
  outline: none;
  text-align: center;
}
.Notes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.Notes .NoteContainer {
  width: 500px;
  margin: 25px;
  display: flex;
  flex-direction: column;
}
.Note {
  background: #ffff7e;
  padding: 20px;
  margin: 4px 12px 12px 12px;
  border: solid 1px;
}
.Note .NoteTitle {
  border: none;
  border-bottom: solid 1px;
  margin-bottom: 7px;
  font-size: 1.55rem;
  text-align: center;
  background: #ffff7e;
  width: 100%;
  outline: none;
}
.Note .NoteContent {
  width: 100%;
  margin: 0 auto;
  background: #ffff7e;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.25rem;
}
.Note .SingleNoteViewButtons {
  width: 80%;
  height: 25px;
  border: solid 1px black;
  color: black;
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 12px;
  font-size: 0.9rem;
}
.Note .SingleNoteViewButtons:hover {
  background: black;
  color: white;
  cursor: pointer;
}
.Note .SingleNoteViewButtons:active {
  background: #228b22;
  color: white;
}
.Note .SingleNoteViewButtons:hover {
  cursor: pointer;
}
.NoteStatusBar {
  height: 24px;
  margin: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.NoteStatusBar .DeleteButton {
  width: 80%;
  height: 80px;
  border: solid 1px black;
  color: black;
  font-size: 1.8rem;
  text-decoration: none;
  width: 20px;
  height: 20px;
  font-size: 0.95rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NoteStatusBar .DeleteButton:hover {
  background: black;
  color: white;
  cursor: pointer;
}
.NoteStatusBar .DeleteButton:active {
  background: #228b22;
  color: white;
}
.NoteStatusBar .ViewButton {
  width: 80%;
  height: 80px;
  border: solid 1px black;
  color: black;
  font-size: 1.8rem;
  text-decoration: none;
  width: 20px;
  height: 20px;
  font-size: 0.95rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NoteStatusBar .ViewButton:hover {
  background: black;
  color: white;
  cursor: pointer;
}
.NoteStatusBar .ViewButton:active {
  background: #228b22;
  color: white;
}
