.list-container {
    height: 100vh;
    background: #E7E6E7;
    margin-left: 226px;
    overflow-y: auto;
}

.list-container .notes-title {
    padding: 80px 20px 20px;
    height: 10%;
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.list-container .notes-top-container {
    margin: 0 20px;
}

.list-container .notes-top-container .notes-container {
    padding: 0;
    height: 90%;
    width: 100%;
    background: #E7E6E7;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}


/*================= N O T E -C A R D    F I L E =============*/
.note-card {
    border: 1px solid #A6A6A6;
    width: 190px; 
    height: 195px;
    margin-bottom: 20px;
    background: white;
    overflow: hidden;
    margin: 0 5px 10px 5px;
}

.note-card h3 {
    text-align: start;
    margin: 10px 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #A6A6A6;
    cursor: pointer;
    font-size: 18px;
}

.note-card p {
    text-align: justify;
    margin: 0 15px;
    font-size: 12px;
}

