.button(@height: 80px) {
	width: 80%;
	height: @height;

	border: solid 1px black;
	color: black;

	font-size: 1.8rem;
	text-decoration: none;

	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background: black;
		color: white;
	}

	&:active {
		background: #228b22;
		color: white;
	}
}

.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}
