.notelist-wrapper{
    margin: 20px;
}

.notelist-wrapper h1{
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    margin: 0 10px;
}
.note-card-container{
    display: flex;
    flex-flow: row wrap;
    width: 700px;
}

.note-card {
    width: 25%;
    height: 200px; 
    border: 1px solid black;
    margin: 10px;
    overflow: hidden;
    padding: 10px 5px;
}

.note-card:hover{
    cursor: pointer;
}

.note-card .note-title{
    font-size: 16px;
    display:flex;
    flex-flow: row wrap;
    text-align: left;
    width: 100%;
    /* border-bottom: 1px solid grey; */
    margin: 5px;
}

.note-card .note-textBody{
    margin: 5px;
    font-size: 12px;
    display:flex;
    flex-flow: row wrap;
    text-align: left;
    vertical-align: text-top;
    /* justify-content: flex-start;
    align-items: flex-start; */
}

.note-component .note-title {
    font-size: 12px;
    display:flex;
    flex-flow: row wrap;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
}

.note-component .note-textBody {
    font-size: 10px;
    display:flex;
    flex-flow: row wrap;
    text-align: left;
    vertical-align: text-top;
}

.create-edit-form {
    margin: 10px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 15px;
}

.create-edit-form h1{
    font-size: 20px;
}

.create-edit-form .title-input{
    width: 325px;
    height: 12px;
    font-size: 12px;
    display: flex;
    flex-flow: row wrap;
    padding: 15px 15px;
    letter-spacing: 0;
}

.create-edit-form .textBody-input {
    width: 574px;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    padding: 20px 20px;
    font-size: 12px;
}

.save-input-button {
    width: 195px;
    height: 45px;
    background-color: #24B8BD;
    color: white;
    font-size: 16px;
}

.title-input {
    text-align: left;
    vertical-align: text-top;
}

.textBody-input {
    text-align: left;
    vertical-align: top;
}

.delete-class h2 {
    font-size:15px;
    margin: 25px 20px;
}

.delete-yes-button{
    background-color: red;
    color: white;
    width: 200px;
    height: 45px;
    margin: 5px;
    font-size: 16px;
} 

.delete-no-button{
    background-color:#24B8BD;
    color: white;
    width: 200px;
    height: 45px;
    margin: 5px;
    font-size: 16px;
}