.App {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  max-height: 600px;
  padding: 5%;
}

.Notes {
  width: 30%;
  border: solid 1px;
}

.ViewNote {
  width: 70%;
  text-align: center;
  border: solid 1px;
  height: 100%;
}

.note:hover {
  background: #f4f4f4;
}

/* input {
  width: 95%;
}

.ViewNote--text {
  height: 300px;
} */
